@charset "UTF-8";
/* Em HTML é id = em CSS é #
    Em HTML é class = em CSS é .
*/
body{
    background-color: rgb(113, 235, 113);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(255, 0, 0);
}

h1#principal{
    text-align: center;
    background-color: rgb(255, 2, 2);
    color: white;
}

h2{
    color: rgb(0, 0, 0);
}
.basico{
    color: green;
}
.intermediario{
    color: rgb(196, 196, 7);
}
.avancado{
    color: red;
}
.destaque{
    background-color: rgba(228, 228, 18, 0.438);
}